h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;

  .theme {
  color: blue;
}
img {
  float: left;
}
@media screen () {
}

img.resize {
  max-width:30%;
  max-height:30%;
}
